@using System.Security.Cryptography.X509Certificates
@model DeltaQrCode.ViewModels.Appointments.CalendarVm

@{
    ViewBag.Title = "Calendar";
}
<head>
    <link href="~/css/SchedulerIndexStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>

<div id="HeaderAlert" class="alert" role="alert">
</div>

@*<input type="text" id="ApptState" value="0" hidden="hidden" />*@

<div class="container">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="col-form-label"></label>
            <input id="datepicker" class="form-control" placeholder="Selecteaza data" />
            <span class="text-danger"></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @for (int rampNr = 1; rampNr < 5; rampNr++)
        {
            <partial model="@rampNr" name="_RampPartial" />
        }
    </div>
</div>
<!--  this is the modal dialog that will house the partial content-->
<div id="myApptModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="partialInfo"></div>
        </div>
    </div>
</div>
<div id="myApptDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDeleteApptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="partialInfoDelete"></div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        var dateToday = new Date();
        $(function() {
            $("#datepicker").datepicker({ dateFormat: "yy-mm-dd" }).datepicker({ minDate: 0 }).datepicker("setDate", dateToday);

            // Clear the existing appts.
            $('.appt-no-height').remove();

            /* Enables scrolling to a set position  scrollToId('.hour-container', '#hour4');*/
            var scrollToId = function(scrollContainer, aid) {
                var aTag = $(aid);
                $(scrollContainer).animate({ scrollTop: aTag.offset().top }, 'slow');
            };

            // initial data load.
            window.setTimeout(function() {
                    getAppointmentsForSelectedDate();
                },
                1000);

            /* Dates ensure clicked, not dragged! */
            var $dateControl = $('.date');
            $dateControl.on('mousedown',
                function(evt) {
                    $dateControl.on('mouseup mousemove',
                        function handler(evt) {
                            if (evt.type === 'mouseup') {
                                // click
                                $('.date').removeClass('date-selected');

                                $(evt.currentTarget).addClass('date-selected');
                                showAppointmentsForDate(evt.currentTarget.innerHTML);
                            } else {
                                // drag
                            }
                            $dateControl.off('mouseup mousemove', handler);
                        });
                });

            /* on load, scroll to a sensible hour */
            scrollToWorkingHours();
            /*end page load*/
        });

        var scrollToWorkingHours = function() {
            $('.hour-container').animate({ scrollTop: '125px' }, 'slow');
        };

        var clearAppointments = function() {
            // Clear the existing appts.
            $('.appt-no-height').remove();
        };

        var apptNewModalDialog = function(startDate, startHour, rampId) {
            var url = "@Url.Action("ModalAdd", "Appointments")";
            $.get(url,
                { startDateStr: startDate, startHour: startHour, rampId: rampId },
                function(data) {
                    $('#partialInfo').html(data);
                    $('#myApptModal').modal('show');

                    var dateFromPage = $("#datepicker").val();
                    var datePage = new Date(dateFromPage);
                    $("#datepickerModal").datepicker({ format: "yy-mm-dd" }).datepicker({ minDate: datePage }).datepicker("setDate", datePage);
                    //enableselect2forServiciu();
                });
        };
        var apptEditModalDialog = function(id) {

            var url = "/Appointments/ModalEdit"; // the url to the controller
            $.get(url + '?id=' + id ,
                function(data) {
                    $('#partialInfo').html(data);
                    $('#myApptModal').modal('show');

                    var dateFromPage = $("#datepicker").val();
                    var datePage = new Date(dateFromPage);
                    $("#datepickerModal").datepicker({ format: "yy-mm-dd" }).datepicker({ minDate: datePage }).datepicker("setDate", datePage);
                    //enableselect2forServiciu();

                });
        };
        var showAppointmentsForDate = function(calendarDate) {


            $.get('@Url.Action("GetAppointmentsForDate", "Appointments")',
                { apptDate: calendarDate },
                function(response) {

                    clearAppointments();

                    // Settings
                    var marginLeftPerItem = 20;
                    var oneHourPxHeight = 60;

                    var oneMinutePxHeight = oneHourPxHeight / 60;
                    if (response != "") {
                        console.log(response);
                        //var obj = $.parseJSON(response);
                        $.each(response,
                            function(key, data) {
                                var rampId = "#Ramp" + data.rampId;
                                // Add appts in the right position
                                for (var i = 0; i < data.appointments.length; i++) {
                                    var row = data.appointments[i];
                                    var minutesText = row.startTime_Minutes === 0 ? '00' : row.startTime_Minutes;
                                    var apptRow = $(rampId + " " + ".hour" + row.startTime_Hour + "_" + minutesText);


                                    var stringToAppend = '<div id="appt' +
                                        row.id +
                                        '" class="appt-no-height">' +
                                        row.numarInmatriculare +
                                        ' | ' +
                                        row.numeClient +
                                        ' | ' +
                                        row.numarTelefon +
                                        ' | ' +
                                        row.serviciu +
                                        ' </div>';

                                    apptRow.append(stringToAppend);
                                    var objHeight = (row.durataInMinute * oneMinutePxHeight) + 'px';
                                    var marginTop = (row.startTime_Minutes * oneMinutePxHeight) + 'px';
                                    var marginLeft = ((apptRow.children().length - 1) * marginLeftPerItem) + 'px';

                                    var thisAppt = $("#appt" + row.id);
                                    thisAppt.css("height", objHeight);
                                    thisAppt.css("margin-top", marginTop);
                                    thisAppt.css("margin-left", marginLeft);

                                    if (row.confirmed) {
                                        thisAppt.css("background-color", 'lightgreen');
                                    }
                                    //default color is silver on appt-no-height.
                                    //switch (row.serviciuId) {
                                    //case 1:
                                    //    thisAppt.css("background-color", 'lightblue');
                                    //    break;
                                    //case 2:
                                    //    thisAppt.css("background-color", 'lightgreen');
                                    //    break;
                                    //default:
                                    //    // do nothing.
                                    //    break;
                                    //}
                                }
                            });
                    };

                    /* click event for editing an appt*/
                    $('.appt-no-height').on('click',
                        function(event) {
                            // dont allow the event to propagate to hour click.
                            event.stopPropagation();
                            console.log($(this));
                            var fullId = $(this).attr("id").replace('appt', '');
                            apptEditModalDialog(fullId );
                        });

                    /* scroll to a better position */
                    scrollToWorkingHours();
                });
        };


        /* click event on the hour */
        $('.hour').on('click',
            function(event) {
                event.stopPropagation();
                var self = $(this);
                console.log(self);

                var startHourOnly = $(this).attr("class").replace('hour-red', '');
                startHourOnly = startHourOnly.replaceAll("hour", "");

                var selectedDateDiv = $('#datepicker');
                var rampNr = self.closest(".ramp").attr("data-value");
                console.log("closest: ", self.closest(".ramp"));
                console.log(rampNr);
                // Make the modal here!
                apptNewModalDialog(selectedDateDiv.val(), startHourOnly, rampNr);
            });


        /* Get the appointments for whatever date is selected */
        var getAppointmentsForSelectedDate = function() {
            var selectedDateDiv = $('#datepicker');
            var parts = selectedDateDiv.val();
            showAppointmentsForDate(parts);
        };
        $("#datepicker").on("change",
            function() {
                clearAppointments();
                getAppointmentsForSelectedDate();
            });


        var deleteSetAnvModalDialog = function(id) {

            var url = "/Appointments/DeleteModal"; // the url to the controller
            $.get(url + '?id=' + id,
                function (data) {
                    CloseModalById('myApptModal');
                    $('#partialInfoDelete').html(data);
                    $('#myApptDeleteModal').modal('show');
                });
        };

        $(document).on('click',
            '#deleteButton',
            function(event) {
                // dont allow the event to propagate
                event.stopPropagation();
                var id = $(this).attr("data-value");
                deleteSetAnvModalDialog(id);
            });

        $(document).on("change", ".changeable", function () {
            checkDateAndTimeAvailable();
        });

        $(document).on('select2:select', "#Durata", function (e) {
            var data = e.params.data;
            var durataval = $(document).find("#durataValue");
            durataval.attr("data-value", data.id);
            durataval.trigger("change");
        });


        var checkDateAndTimeAvailable = function() {
            var datepickerVal = $(document).find("#datepickerModal").val();
            var hour = $(document).find("#StartTime_Hour").val();
            var min = $(document).find("#StartTime_Minutes").val();
            var time = hour + "_" + min;

            var durata = $(document).find("#durataValue").attr("data-value");
            var rampId = $(document).find("#RampId").val();
            var span = $(document).find("#availableHourSpan");

            var url = "/Appointments/GetAvailableSpans"; // the url to the controller
            $.get(url + '?startDateStr=' + datepickerVal + '&startHour=' + time + '&duration=' + durata + '&rampId=' + rampId,
                function (data) {
                    console.log(data);
                    console.log(data.selectedIsAvailable);
                    console.log(data.availableSpans);
                    span.text("").removeClass("text-danger").removeClass("text-success");
                    span.addClass("hide");

                    if (data.selectedIsAvailable) {
                        console.log("aici");
                        span.text("Selectia de data si ora este buna! Nu se suprapune cu alta programare!").removeClass("text-danger").addClass("text-success");
                        span.removeClass("hide");
                        console.log("aici2");
                    }
                    else {
                        console.log("nu aici");
                        var message = "Selectia nu este buna!";
                        if (data.availableSpans.length > 0) {
                            console.log("nu aici2");
                            message += " Pentru durata selectata, urmatoarele ore sunt disponibile:";
                            $.each(data.availableSpans,
                                function (index, value) {
                                    console.log("nu aici3");
                                    message = message + " " + value;
                                });
                        }
                        console.log("nu aici4");
                        span.text(message).addClass("text-danger").removeClass("text-success");
                        span.removeClass("hide");
                    }
                });
        }

    </script>

}

