@using System.Security.Cryptography.X509Certificates
@model DeltaQrCode.ViewModels.Appointments.CalendarVm

@{
    ViewBag.Title = "Calendar";
}
<head>
    <link href="~/css/SchedulerIndexStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>

<div id="HeaderAlert" class="alert" role="alert">
</div>

@*<input type="text" id="ApptState" value="0" hidden="hidden" />*@

<div class="container">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="col-form-label"></label>
            <input id="datepicker" class="form-control" placeholder="Selecteaza data" />
            <span class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <div class="row">
        @for (int rampNr = 1; rampNr < 5; rampNr++)
        {
            <partial model="@rampNr" name="_RampPartial" />
        }
    </div>
</div>
<!--  this is the modal dialog that will house the partial content-->
<div id="myApptModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="partialInfo"></div>
        </div>
    </div>
</div>
<div id="myApptMenuModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-center" style="max-width:800px; min-width:max-content">
            <div id="partialInfoMenu"></div>
        </div>
    </div>
</div>
<div id="myApptDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDeleteApptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="partialInfoDelete"></div>
        </div>
    </div>
</div>
<div id="myApptConfirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myConfirmApptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="partialInfoConfirm"></div>
        </div>
    </div>
</div>
<div id="myApptInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myInfoApptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="partialInfoInformatii"></div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript" src="~/js/appointmentsIndex.js"></script>
    <script type="text/javascript">
        // Clear the existing appts.
        $('.appt-no-height').remove();

        // initial data load.
        window.setTimeout(function () {
                getAppointmentsForSelectedDate();
            },
            1000);
        
        /* on load, scroll to a sensible hour */
        scrollToWorkingHours();
        /*end page load*/
    </script>

}

