

<div class="form-card">

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-outline-danger float-left col-md-6">Fara Programare</button>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="border rounded border-dark  col-md-8 float-right">
                <p class="text-center" style="margin:0px;">Ora:</p>
                <p style="margin:0px;" class="text-center">@DateTime.Now</p>
            </div>
        </div>

    </div>

    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th scope="col">Ora</th>
                    <th scope="col">Nr. Auto</th>
                    <th scope="col">Serviciu</th>
                    <th scope="col">Client</th>
                    <th scope="col">DA</th>
                    <th scope="col">NU</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <tr>
                    <td>12:30</td>
                    <td>BZ02GDK</td>
                    <td>Mecanica</td>
                    <td>Fili</td>
                    <td class="table-success">Apasa</td>
                    <td class="table-danger">Apasa</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>BZ02GDK</td>
                    <td>Mecanica</td>
                    <td>Fili</td>
                    <td class="table-success">Apasa</td>
                    <td class="table-danger">Apasa</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>BZ02GDK</td>
                    <td>Mecanica</td>
                    <td>Fili</td>
                    <td class="table-success">Apasa</td>
                    <td class="table-danger">Apasa</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<input type="button" name="next" class="next action-button" value="Inainte" />