

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <button class="btn btn-outline-danger float-left col-sm-6 col-md-5 col-lg-4 col-xl-4">Fara Programare</button>
    </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div class="border rounded border-dark  col-sm-8 col-md-7 col-lg-5 col-xl-4 float-right">
                <p class="text-center" style="margin:0px;">Ora:</p>
                <p style="margin:0px;">@DateTime.Now</p>
            </div>
        </div>

</div>

    <br />




    <div class="rounded input-group">
        <input type="text" id="search" class="form-control rounded w-75" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <span class=" button input-group-text border-secondary btn-outline-secondary" style=" max-height:39px;" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <br />



<div class="row">
    <h4 class="text-left col-md-8 col-sm-8">Anvelope disponibile</h4>
    <div class="col-md-4 col-sm-4">
        <div class="btn btn-dark float-right">Set nou</div>
    </div>
</div>
<br />

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">Nr. Auto</th>
                <th scope="col">Serviciu</th>
                <th scope="col">Client</th>
                <th scope="col">Marca</th>
                <th scope="col">Nr.Buc</th>
                <th scope="col">Status</th>
                <th scope="col">Locatie</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr>
                <td>BZ02GDK</td>
                <td>Mecanica</td>
                <td>Fili</td>
                <td>Michelin</td>
                <td>4</td>
                <td>InRaft</td>
                <td>Rand:1,Poz:2,Int:E</td>
            </tr>
            <tr>
                <td>BZ02GDK</td>
                <td>Mecanica</td>
                <td>Fili</td>
                <td>Michelin</td>
                <td>4</td>
                <td>InRaft</td>
                <td>Rand:1,Poz:2,Int:E</td>
            </tr>
            <tr>
                <td>BZ02GDK</td>
                <td>Mecanica</td>
                <td>Fili</td>
                <td>Michelin</td>
                <td>4</td>
                <td>InRaft</td>
                <td>Rand:1,Poz:2,Int:E</td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="border-dark" />

<h4 class="text-left">Anvelope selectate</h4>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">Nr. Auto</th>
                <th scope="col">Serviciu</th>
                <th scope="col">Client</th>
                <th scope="col">Marca</th>
                <th scope="col">Nr.Buc</th>
                <th scope="col">Status</th>
                <th scope="col">Locatie</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr>
                <td>BZ02GDK</td>
                <td>Mecanica</td>
                <td>Fili</td>
                <td>Michelin</td>
                <td>4</td>
                <td>InRaft</td>
                <td>Rand:1,Poz:2,Int:E</td>
            </tr>
            <tr>
                <td>BZ02GDK</td>
                <td>Mecanica</td>
                <td>Fili</td>
                <td>Michelin</td>
                <td>4</td>
                <td>InRaft</td>
                <td>Rand:1,Poz:2,Int:E</td>
            </tr>
        </tbody>
    </table>
</div>
<hr class="border-dark" />

<div class="row">
    <div class="col">
        <div class="form-group col-md-6 col-sm-10 text-left">
            <label class="control-label"> NumarInmatriculare</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-10  text-left">
            <label class="control-label"> NumeClient</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-10  text-left">
            <label class="control-label"> NumarTelefon</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-10  text-left">
            <label class="control-label"> SerieSasiu</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>
    </div>



    <div class="col" style="margin-top:60px;">
        <div class="row">
            <div class="col">

                <h6 style="margin-left: 50px;">Uzura: </h6>

                <div class="form-group col-md-6 col-lg-4 col-sm-8 text-left">
                    <label class="control-label"> Stf</label>
                    <div>
                        <input type="text" value="" class="form-control half-margin-bottom" />
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-8 text-left">
                    <label class="control-label"> Sts</label>
                    <div>
                        <input type="text" value="" class="form-control half-margin-bottom" />
                    </div>
                </div>

            </div>

            <div class="col" style="margin-top:27px;">

                <div class="form-group col-md-6 col-lg-4 col-sm-8 text-left">
                    <label class="control-label"> Drf</label>
                    <div>
                        <input type="text" value="" class="form-control half-margin-bottom" />
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-8 text-left">
                    <label class="control-label"> Drs</label>
                    <div>
                        <input type="text" value="" class="form-control half-margin-bottom" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group col-md-4 col-lg-2 col-sm-4 text-left">
            <label class="control-label"> Nr.Bucati</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

    </div>
</div>

<div class="col">

    <div class="row">

        <div class="form-group col-md-3 col-sm-4 text-left">
            <label class="control-label"> Marca</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-4 text-left">
            <label class="control-label"> Flota</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>
    </div>
</div>



<div class="col">
    <div class="row">
        <div class="form-group col-md-3 col-sm-3 text-left">
            <label class="control-label"> Diametru</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-3 text-left">
            <label class="control-label"> Latime</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>


        <div class="form-group col-md-3 col-sm-3 text-left">
            <label class="control-label"> Inaltime</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-3 text-left">
            <label class="control-label"> DOT</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="row">

        <div class="form-group col-md-3 col-sm-3 text-left">
            <label class="control-label"> Tip Sezon</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

        <div class="form-group col-md-9 col-sm-9 text-left">
            <label class="control-label"> Observatii</label>
            <div>
                <input type="text" value="" class="form-control half-margin-bottom" />
            </div>
        </div>

    </div>

</div>
<input type="button" name="next" class="next action-button" value="Inainte" />
<input type="button" name="previous" class="previous action-button" value="Inapoi" />