@model QrCodeContentViewModel;
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="panel-heading">
        <h3 class="panel-title">Scan the QR Code</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
            <div class="col-sm-12">
                <video id="preview" class="p-1 border" style="width:100%;"></video>
            </div>
            <script type="text/javascript">
                var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
                scanner.addListener('scan', function (content) {
                    alert(content);
                    //scanner.video = null;
                    //window.location.href=content;
                });
                var cams = Instascan.Camera.getCameras();
                $(document).ready(function () {
                    $('#CloseCameraBtn').on('click', function () {
                        cams.then(function (cameras) {
                            scanner.stop(cams[0]);
                            scanner.stop(cams[1]);
                            $('#preview').hide();
                        });

                    });
                    $('#TurnOnCameraBtn').on('click', function () {
                        cams.then(function (cameras) {
                            $('#preview').show();
                            if (cameras.length > 0 && cameras[0] != "") {
                                if (cameras.length > 1 && cameras[1] != "") {
                                    scanner.start(cameras[1]);
                                }
                                else {
                                    scanner.start(cameras[0]);
                                }
                            }
                        });

                    });

                });
                cams.then(function (cameras) {
                    if (cameras.length > 0) {
                        if (cameras.length > 1) {
                            scanner.start(cameras[1]);
                        }
                        else {
                            scanner.start(cameras[0]);
                        }
                        $('[name="options"]').on('change', function () {
                            if ($(this).val() == 1) {
                                if (cameras[0] != "") {
                                    $('#preview').show();
                                    scanner.start(cameras[0]);
                                } else {
                                    alert('No Front camera found!');
                                }
                            } else if ($(this).val() == 2) {
                                if (cameras[1] != "") {
                                    $('#preview').show();
                                    scanner.start(cameras[1]);
                                } else {
                                    alert('No Back camera found!');
                                }
                            }
                        });
                    } else {
                        console.error('No cameras found.');
                        alert('No cameras found.');
                    }
                }).catch(function (e) {
                    console.error(e);
                    alert(e);
                });

            </script>


            <div class="btn-group btn-group-toggle mb-5" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input id="backCameraBtn" type="radio" name="options" value="2" autocomplete="off"> Back Camera
                </label>
                <button class="btn btn-outline-dark" id="CloseCameraBtn"> Camera Off </button>
                <button class="btn btn-outline-info" id="TurnOnCameraBtn"> Camera On </button>
            </div>
        </div>
    </div>
</div>

