

<div class="text-center">
    <h1>Selectati Operatiunea</h1>
</div>
<div class="container" style="left:20%; right:20%; margin-top:5%">
    <div class="row" >
        <div class="col-12 text-center">
            <div class="btn btn-lg btn-danger" style="width: 70%; margin: 20px;">Interior</div>
        </div>
        <div class="col-12 text-center" >
            <div class="btn btn-lg btn-warning" style="width: 70%;margin: 20px;">Exterior</div>
        </div>
        <div class="col-12 text-center">
            <div class="btn btn-lg btn-success" style="width: 70%; margin: 20px;">Interior + Exterior</div>
        </div>
    </div>
</div>

@*<div class="list-group" style="width:100%">
        <div class="row">
            <div class="btn btn-danger">Interior</div>
        </div>
        <div class="row">
            <div class="btn btn-warning">Exterior</div>
        </div>
        <div class="row">
            <div class="btn btn-success">Interior + Exterior</div>
        </div>
    </div>*@