
@model DeltaQrCode.ViewModels.HotelListViewModel

@{
    ViewBag.Title = "HotelAnvelope";
}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/SchedulerIndexStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>


<div id="HeaderAlert" class="alert" role="alert">
</div>
<input type="text" id="hotelListState" value="0" hidden="hidden" />
<div class="container text-center">
    <div class="input-group rounded">
        <input type="text" id="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <span class=" button input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
        <div style="margin-left:50px;" type="button" id="AddSetAnv" class="btn btn-success">Adauga anvelope</div>
    </div>
    <br />
</div>
<div id="tableResult" class="container">
    @*<partial name="_HotelList" model="@Model" />*@
</div>


<div id="myHotelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="partialInfo"></div>
        </div>
    </div>
</div>

<div id="myHotelDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="partialInfoDelete"></div>
        </div>
    </div>
</div>


<div id="GetModalCode"></div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var data = { searchString: $("#search").val(), page: 1 };
            $("#tableResult").load("/Hotel/Search",
                data,
                function () {
                    setPagination();
                });
        });
        $("#search-addon").on("click",
            function (event) {
                event.preventDefault();
                var data = { searchString: $("#search").val(), page: 1 };
                $("#tableResult").load("/Hotel/Search",
                    data,
                    function () {
                        setPagination();
                    });
            });

        $(document).on("click",
            ".customPagination",
            function (event) {
                event.preventDefault();
                var page = $(this).attr("data-pageNumber");
                var data = { searchString: $("#search").val(), pageNumber: page };
                $("#tableResult").load("/Hotel/Search",
                    data,
                    function () {
                        setPagination();
                    });
            });

        var setAnvNewAddModalDialog = function () {
            var url = "/Hotel/AddModalNew"; // the url to the controller
            $.get(url,
                function (data) {
                    $('#partialInfo').html(data);
                    $('#myHotelModal').modal('show');
                });
        };

        var setAnvEditModalDialog = function (id, actionType) {

            var url = "/Hotel/EditModal"; // the url to the controller
            $.get(url + '?id=' + id + '&actionType=' + actionType,
                function (data) {
                    $('#partialInfo').html(data);
                    $('#myHotelModal').modal('show');
                });
        };
        var deleteSetAnvModalDialog = function (id) {

            var url = "/Hotel/DeleteModal"; // the url to the controller
            $.get(url + '?id=' + id,
                function (data) {
                    $('#partialInfoDelete').html(data);
                    $('#myHotelDeleteModal').modal('show');
                });
        };

        $('#AddSetAnv').on('click',
            function (event) {
                // dont allow the event to propagate
                event.stopPropagation();
                setAnvNewAddModalDialog();
            });

        $(document).on('click',
            '.actionButton',
            function (event) {
                // dont allow the event to propagate
                event.stopPropagation();
                var id = $(this).attr("data-value");
                var actionType = $(this).attr("data-actionType");

                setAnvEditModalDialog(id, actionType);
            });

        $(document).on('click',
            '.deleteButton',
            function (event) {
                // dont allow the event to propagate
                event.stopPropagation();
                var id = $(this).attr("data-value");
                deleteSetAnvModalDialog(id);
            });

        $(document).on("change",
            "#hotelListState",
            function (event) {
                event.preventDefault();
                var data = { searchString: $("#search").val(), page: 1 };
                $("#tableResult").load("/Hotel/Search", data, function () { setPagination(); });
            });

        var setPagination = function () {
            var hasPrev = $("#hasPrev").attr("data-value");
            var hasNext = $("#hasNext").attr("data-value");

            if (hasPrev == "true") {
                enablePrevious();
            } else if (hasPrev == "false") {
                disablePrevious();
            }

            if (hasNext == "true") {
                enableNext();
            } else if (hasNext == "false") {
                disableNext();
            }
        };

        var enablePrevious = function () {
            $(document).find("#buttonPrev").removeAttr("disabled");
            //$(document).find("#buttonPrev").removeClass("disabled");
            console.log("Enable Previons");
        };
        var disablePrevious = function () {
            $(document).find("#buttonPrev").attr("disabled", "disabled");
            //$(document).find("#buttonPrev").addClass("disabled");
            console.log("Disable Previons");

        };
        var enableNext = function () {
            $(document).find("#buttonNext").removeAttr("disabled");
            //$(document).find("#buttonNext").removeClass("disabled");
            console.log("Enable Next");

        };
        var disableNext = function () {
            $(document).find("#buttonNext").attr("disabled", "disabled");
            //$(document).find("#buttonNext").addClass("disabled");
            console.log("Disable Next");

        };


    </script>


}
