@model DeltaQrCode.ViewModels.HotelListViewModel

@{
    ViewBag.Title = "HotelAnvelope";
}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/SchedulerIndexStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>

<div class="container text-center">
    <div class="input-group rounded">
        <input type="text" id="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <span class=" button input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <br />
</div>
<div id="tableResult" class="container">
    <partial name="_HotelList" model="@Model"></partial>
</div>

@section Scripts{

    <script type="text/javascript">
        $(function () {
            $("#search-addon").on("click", function () {
                var data = { searchString: $("#search").val(), page: 1 };
                $("#tableResult").load("/Hotel/Search", data);
            });
        });

        $(function () {
            $(".CustomPagination").on("click", function () {
                var page = $(this).attr("data-value");
                var searchString = $("#search").val();
                var data = {
                    searchString: searchString,
                    page: page
                };
                $("#tableResult").load("/Hotel/Search", data);
            });
        });
    </script>
}
